.post{
    background-color: white ;
    
}

.post__image{
    width: 100%;

    
}

.post-header{
    background-color: #FFFFFF;
}



.perfil-nome{
    padding-left: 10px;
}

.perfil{
    width: 40px;
    border-radius: 100%;
}

.perfil1{
    width: 90px;
    border-radius: 100%;
}

.post__header ul li{
    list-style-type: none;
    display: inline-block;
}

.img-post{
    width: 100%;
}

.red{
    font-size: 3.0em;
    color: red;
}

.post-footer{
    background-color: white;
}

.icones{
    display: flex;
    list-style: none;
}

.icones li{
    font-size: 1.4em;
}

.span-coment{
    color: #AEA8A1;
    font-weight: 600;
}

